In [1]:
import pandas as pd
from pathlib import Path

# Load the CSV file into a DataFrame
csv_path = Path('air_lichen_query.csv')
df = pd.read_csv(csv_path, engine='python', on_bad_lines='skip')

In [2]:
# Get statistics for selected columns and bin the element columns
import numpy as np
cols = ['Magnesium (ppm dw)', 'Potassium (ppm dw)', 'Sodium (ppm dw)', 'Region']
df[cols[:3]].describe()

       Magnesium (ppm dw)  Potassium (ppm dw)  Sodium (ppm dw)
count        11809.000000        12683.000000     11810.000000
mean           641.765727         2939.470886       112.800977
std            667.912955         2935.378412       246.731949
min             -2.131000          -27.752000       -32.940000
25%            363.390000         1790.000000        39.000000
50%            501.000000         2380.000000        71.855000
75%            687.000000         3165.000000       127.330000
max          12467.000000        61000.000000      6502.000000

In [3]:
df['Region'].value_counts() # something weird here

Region
6     12711
89     1417
10     1279
14     1265
5        54
Name: count, dtype: int64

In [21]:
# BINNING CODE 
for col in cols[:3]:
    data_mean = df[col].mean()
    data_std = df[col].std()
    bins = [float('-inf'), data_mean - (0.25 * data_std), data_mean + (0.25 * data_std), float('inf')]
    if col == "Sodium (ppm dw)":
        bins = [float('-inf'), data_mean - (0.25 * data_std), data_mean + (0.25 * data_std), float('inf')]
    labels = ['low', 'medium', 'high']
    df[f'{col}_binned'] = pd.cut(df[col], bins=bins, labels=labels)
df[[*cols, *(f'{c}_binned' for c in cols[:3])]].head()

,Magnesium (ppm dw),Potassium (ppm dw),Sodium (ppm dw),Region,Magnesium (ppm dw)_binned,Potassium (ppm dw)_binned,Sodium (ppm dw)_binned
0,NaN,NaN,NaN,6,NaN,NaN,NaN
1,426.82,1670.7,31.778,6,medium,medium,low
2,1548.00,2526.0,242.800,6,high,medium,high
3,455.66,2040.6,58.210,6,medium,medium,medium
4,460.70,1278.0,198.300,6,medium,low,high

In [22]:
df["Magnesium (ppm dw)_binned"].value_counts()

Magnesium (ppm dw)_binned
medium    8469
low       1981
high      1359
Name: count, dtype: int64

In [23]:
df["Potassium (ppm dw)_binned"].value_counts()

Potassium (ppm dw)_binned
medium    10157
low        1421
high       1105
Name: count, dtype: int64

In [24]:
df["Sodium (ppm dw)_binned"].value_counts()

Sodium (ppm dw)_binned
medium    6096
low       4065
high      1649
Name: count, dtype: int64